<div class="edit-users">
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto ibox-content">
                <h2 class="text-center mb-3 w-100">Editar datos de
                    <%= current_user.nombres%>
                    <%= current_user.apellidos%>
                </h2>
                <%= simple_form_for current_user, url: user_path(current_user) do |f| %>
                <%= f.error_notification %>
                <div class="row">
                    <div class="col-md-6">
                        <%= f.input :nombres, required: true, autofocus: true, input_html: {class: "form-control"}%>
                    </div>
                    <div class="col-md-6">
                        <%= f.input :apellidos, required: true, autofocus: true, input_html: {class: "form-control"}%>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <%= f.association :tipodocumento, label_method: :nombre, value_method: :id, prompt: "Tipo de documento", label: 'Tipo Documento', input_html: {class: "form-control", min:"1" } %>
                    </div>
                    <div class="col-md-6">
                        <%= f.input :telefono, required: true, autofocus: true, input_html: {class: "number form-control", min:"1", max:"10"}, :limit => 10%>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <%= f.input :direccion, required: true, autofocus: true, input_html: {class: "form-control"}%>
                    </div>
                    <div class="col-md-6">
                        <%= f.input :email, required: true, autofocus: true, input_html: {class: "form-control"}%>
                    </div>
                    <div class="col-md-12">
                        <%= f.input :avatar, input_html: {class: "form-control form-control-lg"} %>
                    </div>
                    <div class="col-md-12">
                        <%= f.button :submit, "Actualizar datos", class: "btn btn-primary btn-lg btn-block mb-3" %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <%= link_to "Volver", admin_users_path, class: "btn btn-danger btn-lg btn-block" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>