<h2>Editar <%= resource_name.to_s.humanize %></h2>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field">
      <%= f.input :nombre, required: true, autofocus: true, input_html: {class: ""}%>
    </div>
    <div class="field">
        <%= f.input :documento, required: true, autofocus: true, input_html: {class: ""}%>
        <%= f.input :email, required: true, autofocus: true, input_html: {class: ""}%>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <div class="field">
        <%= f.input :password,label: "Nueva Contraseña:",hint: "Deje los campos de contraseñas vacios si no desea actualizarla",required: false,input_html: { autocomplete: "new-password" , class: "" } %>
        <%= f.input :password_confirmation,label: "Confirmar Nueva Contraseña:",required: false,input_html: { autocomplete: "new-password" , class: "" } %>
    </div>
    <div class="field">
        <%= f.input :current_password,label: "Contraseña Actual:", hint: "Se necesita su contraseña actual para confirmar",required: true,input_html: { autocomplete: "current-password" , class: "" } %>
    </div>
    <div class="field">
        <%= f.button :submit, "Actualizar datos" %> <br><br>
    </div>
<% end %>
<%= link_to "Atrás", :back %>
