<h1 class="text-center mov-naranja">Formulario de <strong>Registro</strong></h1>
<br>
<div class="ibox-content container_new_registration">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <%=f.error_notification%>
                        <%= f.input :nombres,
                        required: true,
                        label: false,
                        autofocus: true,
                        input_html: { autocomplete: "nombres" }%>
                        <%= f.input :apellidos,
                        required: true,
                        label: false,
                        autofocus: true,
                        input_html: { autocomplete: "apellido" }%>

                        <%= f.association :tipodocumento,
                        prompt: :translate,
                        label_method: :nombre,
                        value_method: :id,
                        label: false,
                        input_html: {class: "form-control", min:"1" } %>

                        <%= f.input :ndocumento,
                        required: true,
                        label: false,
                        autofocus: true,
                        input_html: { autocomplete: "documento" }%>

                        <%= f.input :telefono,
                        required: true,
                        label: false,
                        autofocus: true,
                        input_html: { autocomplete: "telefono" }%>

                        <%= f.input :direccion,
                        required: true,
                        label: false,
                        autofocus: true,
                        input_html: { autocomplete: "direccion" }%>

                        <%= f.input :email,
                        required: true,
                        label: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>

                        <%= f.association :ficha,
                        prompt: :translate,
                        label_method: :numero,
                        value_method: :id,
                        label: false,
                        input_html: {class: "form-control", min:"1" } %>

                        <%= f.input :password,
                        required: true,
                        label: false,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>

                        <%= f.input :password_confirmation,
                        required: true,
                        label: false,
                        input_html: { autocomplete: "new-password" } %>

                        <%= f.button :submit, "Crear usuario", class: "btn-primary block full-width m-b" %>
                        <a class="btn btn-sm btn-white btn-block" href="<%=new_user_session_path%>">Iniciar Sesion</a>
                        <!-- <%= render "devise/shared/links" %> -->
                        <% end %>
            </div>
        </div>
    </div>
</div>

<br>
<br>
