<!-- breadcrumbs -->
<% breadcrumb :ambientes %>
<div class="row">
    <div class="w-100">
        <div class="ibox">
            <div class="ibox-title d-flex justify-content-between align-items-center pr-3">
                <h5>Listado de Ambientes</h5>
                <div class="d-flex justify-content-between">
                    <!-- convertir a excel el listado -->
                    <form action="<%= ambientes_path %>" method="GET" class="d-flex justify-content-between align-items-center">
                        <button class="btn" formaction="<%= ambientes_path(format: :xlsx) %>"  type="submit" id="button-addon2" >
                            <i><img src="/assets/msexcel_svg.svg" alt="icono generar excel"></i></button>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Buscar.." aria-label="Recipient's username"
                            aria-describedby="button-addon2" name="q" value="<%= params[:q] %>">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit" id="button-addon2"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="ibox-content">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th class="text-center">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%= render @ambientes %>
                    </tbody>
                </table>
                <%= paginate @ambientes, theme: 'twitter-bootstrap-4' %>
                <hr />
                <div class="row d-flex justify-content-start pl-3">
                        <%= link_to "Volver", root_path, class: "btn btn-danger btn-lg btn-block col-4" %>
                </div>
            </div>
        </div>
    </div>
</div>