<h1>New Novedades</h1>

<%= simple_form_for @novedad do |f| %>
  <%= f.input :titulo %>
  <%= f.input :descripcion %>
  <%= f.button :submit %>
<% end %>

<%= link_to "Ver novedades", novedades_path %>
