<%= simple_form_for [:admin, @programa, @ficha] do |f| %>
<%= f.input :numero, required: true, label: false %>
<%= f.input :numero_aprendices, required: true, class: "form-control", label: false %>
<%= f.input :fecha_fin_at, as: :date, required: true, html5: true, label: 'Fecha finalizacion' %>
<div class="row">
  <!-- botones -->
  <!-- Boton nueva ficha -->
  <div class="col-md-6">
    <%= f.button :submit, class: "btn btn-primary btn-md btn-block mb-3" %>
    <% end %>
  </div>
  <!-- boton volver -->
  <div class="col-md-6">
    <%= link_to "Volver", :back, class: "btn btn-danger btn-md btn-block" %>
  </div>
</div>