<!-- breadcrumbs -->
<%# breadcrumb :programas, @especialidad %>
<div class="row">
 <div class="w-100">
  <div class="card text-left mb-3">
   <div class="card-body">
    <h1 class="card-title">Programa: <%=@programa.nombre%></h1>
    <p class="card-text">Codigo: <%= @programa.id%></p>
   </div>
  </div>
  <div class="ibox ">
   <div class="ibox-title d-flex justify-content-between align-items-center pr-3">
    <h2>Listado fichas</span></h2>
    <form action="admin_programa_fichas_path" method="GET" class="d-flex justify-content-between align-items-center">
     <div class="input-group">
      <input type="text" class="form-control" placeholder="Buscar.." aria-label="Recipient's username"
       aria-describedby="button-addon2" name="q" value="<%= @q %>">
      <div class="input-group-append">
       <button class="btn btn-primary" type="submit" id="button-addon2"><i class="fa fa-search"></i></button>
      </div>
     </div>
    </form>
   </div>
   <div class="ibox-content">
    <table class="table table-hover">
     <thead>
      <tr>
       <th>Codigo</th>
       <th>Numero</th>
       <th>N°Aprendices</th>
       <th>Especialidad</th>
       <th>Fecha Finalizaciòn</th>
       <th class="text-center">Acción</th>
      </tr>
     </thead>
     <tbody>
      <%= render partial: "ficha", collection: @fichas %>
     </tbody>
    </table>
    <%#= paginate @programas, theme: 'twitter-bootstrap-4' %>
    <hr>
    <div class="row">
     <div class="col-md-4">
      <%= link_to "nueva ficha", new_admin_programa_ficha_path(@programa), class: "btn btn-primary btn-lg btn-block"  %>
     </div>
     <div class="col-md-4">
      <%= link_to "Programas", admin_especialidad_programas_path(@programa.especialidad), class: "btn btn-primary btn-lg btn-block"  %>
     </div>
     <div class="col-md-4">
      <%= link_to "Especialidades", admin_especialidades_path, class: "btn btn-danger btn-lg btn-block" %>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>