<!-- breadcrumbs -->
<% breadcrumb :admin_programa_fichas, @especialidad=@programa.especialidad, @programa%>
<!-- Informacion del programa -->
<%= render partial: 'admin/especialidades/programas/cabecera_programa'%>
<!-- Listado de fichas -->
<div class="row mt-3">
  <div class="w-100">
    <!-- Caja de busqueda -->
    <div class="ibox ">
      <div class="ibox-title d-flex justify-content-between align-items-center pr-3">
        <h2>Listado fichas</h2>
        <!-- ejecuta la ruta de generacion del excel con el parametro q del formulario de busqueda -->
        <form action="<%= admin_programa_fichas_path %>" method="GET" class="d-flex justify-content-between align-items-center">
          <button class="btn" formaction="<%= admin_programa_fichas_path(format: :xlsx) %>"  type="submit" id="button-addon2" >
            <i><img src="/assets/msexcel_svg.svg" alt="icono generar excel"></i></button>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar.." aria-label="Recipient's username"
            aria-describedby="button-addon2" name="q" value="<%= params[:q] %>">
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit" id="button-addon2"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>
      <!-- listado de fichas -->
      <div class="ibox-content">
        <table class="table table-hover">
          <thead>
            <tr>
            <th>Codigo</th>
            <th>Numero</th>
            <th>N°Aprendices</th>
            <th>Programa</th>
            <th>Fecha Finalizaciòn</th>
            <th class="text-center">Acción</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "ficha", collection: @fichas %>
          </tbody>
        </table>
        <%= paginate @fichas, theme: 'twitter-bootstrap-4' %>
        <hr>
        <div class="row d-flex justify-content-between mx-1">
          <%= link_to "nueva ficha", new_admin_programa_ficha_path(@programa), class: "btn btn-primary btn-lg btn-block col-4" %>
          <%= link_to "Programas", admin_especialidad_programas_path(@programa.especialidad), class: "btn btn-danger btn-block col-4 m-0" %>
        </div>
      </div>
    </div>
  </div>
</div>