<!-- breadcrumbs -->
<% breadcrumb :ficha_show, @ficha %>
<div class="ibox mt-4 col-md-6 mx-auto">
 <div class="ibox-title">
  <div class="ibox-tools">
   <span class="label-primary float-right"><%= @ficha.numero %></span>
  </div>
  <h1>Numero de Ficha</h1>
 </div>
 <div class="ibox-content ">
  <h2 class="no-margins ">
   <span class="font-weight-bold">Numero aprendices: </span>
   <%= @ficha.numero_aprendices %>
  </h2>
  <h2 class="no-margins ">
   <span class="font-weight-bold">Fecha finalizacion: </span>
   <%= @ficha.fecha_fin_at %>
  </h2>
  <h2 class="no-margins ">
   <span class="font-weight-bold">Especialidad: </span>
   <%= @ficha.especialidad.nombre %>
  </h2>
  <br>
  <div class="row">
   <div class="col-6">
    <%= link_to "Editar ", edit_admin_ficha_path(@ficha), class:"btn btn-primary btn-lg btn-block"%>
   </div>
   <div class="col-6">
    <%= link_to "Volver", admin_fichas_path, class: "btn btn-danger btn-lg btn-block" %>
   </div>
  </div>
 </div>
</div>