<!-- breadcrumbs -->
<% breadcrumb :programas, @especialidad %>
<%= render partial: 'admin/especialidades/cabecera_especialidad' %>
<div class="row mt-3">
  <div class="w-100">
    <div class="ibox ">
      <div class="ibox-title d-flex justify-content-between align-items-center pr-3">
        <h4>Listado de programas</h4>
        <div class="d-flex mb-3 justify-content-between">
          <form action="<%= admin_especialidad_programas_path %>" method="GET" class="d-flex justify-content-between align-items-center">
            <button class="btn" formaction="<%= admin_especialidad_programas_path(format: :xlsx) %>"  type="submit" id="button-addon2" >
              <i><img src="/assets/msexcel_svg.svg" alt="icono generar excel"></i></button>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Buscar.." aria-label="Recipient's username"
              aria-describedby="button-addon2" name="q" value="<%= params[:q] %>">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit" id="button-addon2"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="ibox-content">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Fecha creación</th>
              <th class="text-center">Acción</th>
            </tr>
          </thead>
          <tbody>
            <%= render @programas %>
          </tbody>
        </table>
        <%= paginate @programas, theme: 'twitter-bootstrap-4' %>
        <hr>
        <div class="row d-flex justify-content-between">
          <div class="col-md-4">
            <%= link_to "Nuevo programa", new_admin_especialidad_programa_path(@especialidad), class: "btn btn-primary btn-lg btn-block"  %>
          </div>
          <div class="col-md-4">
            <%= link_to "Volver", admin_especialidades_path, class: "btn btn-danger btn-lg btn-block" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>