<!-- breadcrumbs -->
<% breadcrumb :programa_show, @especialidad, @programa %>
<!-- informacion de la especialidad -->
<%= render partial: 'admin/especialidades/cabecera_especialidad' %>
<!-- informacion del programa -->
<div class="row">
  <div class="col-12 p-0 w-100">
    <div class="ibox content">
      <div clas="row">
        <div class="col-12 p-0 mt-3">
          <!--title-->
          <div class="ibox-title d-flex justify-content-between pr-5">
            <div>
              <h1 class="pl-4"><strong>Información del programa</strong></h1>
            </div>
            <div class="d-flex align-items-center">
              <%= link_to admin_especialidad_programa_path(@especialidad, @programa), method: :delete, data: {confirm: "¿Estas seguro?"} do%>
                <img src="/assets/icoeliminar.png" alt="icono eliminar">
              <% end %>
            </div>
          </div>
          <div class="ibox-content">
            <!--Datos especialidad-->
            <div class="info col-12">
              <div class="card border-secondar">
                <div class="card-header ">
                  <h4 class="card-subtitle">ID: <strong><%= @programa.id%></strong></h4>
                  <h4 class="card-subtitle">Nombre: <%= @programa.nombre%> </strong>
                  <h4 class="card-subtitle">Fecha de creacion: <strong><%= @programa.created_at.strftime("%F %T")%></strong></h4>
                  </h4>
                </div>
              </div>
            </div>
            <!--botonera-->
            <div class="row">
              <div class="col-12 mt-3 mt-3 d-flex justify-content-between">
                <div class="col-4">
                  <%= link_to "Volver", admin_especialidad_programas_path, class: "btn btn-danger btn-lg btn-block" %>
                </div>
                <div class="col-4">
                  <%= link_to "Editar", edit_admin_especialidad_programa_path(@especialidad, @programa), class:"btn btn-primary btn-lg btn-block mb-3"%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>