<tr>
  <td class="text-center">
    <%= link_to user.ndocumento, admin_user_path(user) %>
  </td>
  <td class="text-center">
    <%= user.nombres%>
  </td>
  <td class="text-center">
    <%= user.apellidos%>
  </td>
  <td class="text-center">
    <%= user.ficha.numero%>
<!-- <%= user.created_at%> -->
  </td>
  <td class="d-flex justify-content-center">
    <%= link_to "Anotaciones", user_anotaciones_path(user), class: "btn btn-primary btn-lg btn-block col-6"%>
  </td>
</tr>