<% breadcrumb :edit_password, @current_user %>
<center><h1 class="mov-naranja">CAMBIAR <strong>CONTRASEÑA</strong></h1></center>
<div class="col-md-6">
  <div class="container_session">
      <div class="session">
        <%= simple_form_for current_user, url: update_password_user_path do |f| %>
          <%= f.input :current_password,label: "Contraseña Actual:", hint: "Se necesita su contraseña actual para confirmar",required: true,input_html: { autocomplete: "current-password" , class: "form-control" } %>
              <%= f.input :password,label: "Nueva Contraseña:",hint: "Digite su nueva Contraseña",required: false,input_html: { autocomplete: "new-password" , class: "form-control" } %>
              <%= f.input :password_confirmation,label: "Confirmar Nueva Contraseña:",required: false,input_html: { autocomplete: "new-password" , class: "form-control" } %>
          <%= f.button :submit, "Actualizar Contraseña", class: "btn btn-primary btn-lg " %> <br><br>
        <% end %>
      </div>
  </div>
</div>
<div class="col-md-6">
</div><br><br><br>
