<div class="col-md-6 m-auto ibox-title">
  <h1 class="mov-naranja text-center"><strong>CAMBIAR CONTRASEÑA</strong></h1>
</div>
<div class="col-md-6 m-auto ibox-content">
  <div class="container_session">
    <div class="session">
      <%= simple_form_for current_user, url: update_password_user_path do |f| %>
      <%= f.input :current_password,label: false, hint: "Se necesita su contraseña actual para confirmar",required: true,input_html: { autocomplete: "current-password" , class: "form-control" } %>
      <%= f.input :password,label: false ,hint: "Digite su nueva Contraseña",required: false,input_html: { autocomplete: "new-password" , class: "form-control" } %>
      <%= f.input :password_confirmation,label: false ,required: false,input_html: { autocomplete: "new-password" , class: "form-control" } %>
      <div class="row">
        <div class="col-md-6">
          <%= f.button :submit, "Actualizar datos", class: "btn btn-primary btn-lg btn-block " %>
          <% end %>
        </div>
        <div class="col-md-6">
          <%= link_to "Volver", :root, class: "btn btn-danger btn-lg btn-block"%>
        </div>
      </div>
    </div>
  </div>
</div>