<!-- breadscrumbs -->
<% breadcrumb :users %>
    <h1 class="text-center mov-naranja"><strong>Usuarios</strong> Del Sistema</h1>
    <hr />
    <div>
        <form action="<%= users_path %>" method="GET">
            <input type="text" name="q" value="<%= params[:q] %>">
            <input type="submit">
        </form>
    </div>
    <div class="row">
        <%= form_tag(users_path, class:"navbar-form-custom" , method: :get) do %>
            <%end%>
    </div> <br>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th class="">Documento</th>
                <th class="">Nombres</th>
                <th class="">Apellidos</th>
                <th class="">Fecha Creacion</th>
            </tr>
            <% @users.each do |user| %>
                <tr>
                    <td>
                        <%= link_to user.ndocumento, user_anotaciones_path(user) %>
                    </td>
                    <td>
                        <%= user.nombres%>
                    </td>
                    <td>
                        <%= user.apellidos%>
                    </td>
                    <td>
                        <%= user.created_at%>
                    </td>
                    <%end%>
        </table>
    </div>
    <hr />