<h1 class="text-center mov-naranja"><strong>Usuarios</strong> Del Sistema</h1>
<hr />
<div class="row">
  <%= form_tag(users_path, class:"navbar-form-custom" , method: :get) do %>
  <%end%>
</div> <br>
<div class="table-responsive">
  <table class="table table-striped">
    <tr>
      <th class="">nombre</th>
      <th class="">apellido</th>
      <th class="">documento</th>
      <th class="">telefono</th>
      <th class="">direccion</th>
      <th class="">email</th>
    </tr>
    <% @users.each do |user| %>
     <tr>
     <td><%= user.nombre%></td>
     <td><%= user.apellido%></td>
     <td><%= user.documento%></td>
     <td><%= user.telefono%></td>
     <td><%= user.direccion%></td>
     <td><%= user.email%></td>

              <%end%>
  </table>
</div>
<hr />
