<h1 class="text-center mov-naranja"><strong><%=  @user.nombres %> <%=  @user.apellidos %></strong></h1><hr />
<div class="usuario">
  <div class="informacion">
    <div class="container_picture">
         <div class="picture">
         </div>
    </div>
    <div class="container_details">
      <div class="info">
         <p class="details_info"><strong>Nombres:</strong> <%=  @user.nombres %></p>
         <p class="details_info"><strong>apellidos:</strong> <%=  @user.apellidos %></p>
         <p class="details_info"><strong>N documento:</strong> <%=  @user.ndocumento %></p>
         <p class="details_info"><strong>Telefono:</strong> <%=  @user.telefono %></p>
         <p class="details_info"><strong>Direccion:</strong> <%=  @user.direccion %></p>
         <p class="details_info"><strong>email:</strong> <%=  @user.email %></p>
      </div>
    </div>
    <div class="container">
      <div class="row">
          <%= link_to "editar mi perfil", edit_user_path(@user) , class:"btn btn-success"%>
      </div>

    </div>
  </div>
</div>
<br>
