<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="row m-b-lg m-t-lg ibox-content pb-0">
                <div class="col-md-6 align-items-center">

                    <div class="profile-image d-flex justify-content-center align-items-center">
                        <img src="https://scontent-bog1-1.cdninstagram.com/v/t51.2885-19/s320x320/81711281_1042701509443610_5924580181338488832_n.jpg?_nc_ht=scontent-bog1-1.cdninstagram.com&_nc_ohc=VMAuKOA_6xcAX827vL4&oh=26d1b323ba2f568c603e197623d1e2fa&oe=5E98B8C5" class="rounded-circle circle-border m-b-md border-green" alt="profile">
                    </div>
                    <div class="profile-info">
                        <div class="">
                            <div>
                                <h2 class="no-margins">
                                    <%= current_user.nombres %> <%= current_user.apellidos %>
                                </h2>
                                <h4>ADSI</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <table class="table m-b-xs">
                        <tbody>
                        <tr>
                            <td>
                                <strong>Número de documento:</strong> <%= current_user.ndocumento %>
                            </td>
                            <td>
                                <strong>Teléfono:</strong> <%= current_user.telefono %>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <strong>E-mail:</strong> <%= current_user.email %>
                            </td>
                            <td>
                                <strong>Dirección:</strong> <%= current_user.direccion %>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
