<tr>
  <td>
    <%= link_to anotacion.id, ambiente_anotacion_path(@ambiente, anotacion) %>
  </td>
  <td>
    <span class="text-overflow-dynamic-container">
      <span class="text-overflow-dynamic-ellipsis">
        <%= anotacion.descripcion %>
      </span>
    </span>
  </td>
  <td class="text-center">
    <%= anotacion.created_at.strftime("%F %T")%>
  </td>
  <td class="text-center">
    <% if anotacion.file.present?%>
      <%= link_to 'Download file', anotacion.file.url %>
    <%else%>
      no file
    <% end %>
  </td>
  <td class="text-center">
    <%= anotacion.creator.nombres %>
    <%= anotacion.creator.apellidos %>
  </td>
  <td>
    <%= link_to "Comentarios", anotacion_comentarios_path(anotacion), class: "btn btn-primary btn-block p-0"%>
  </td>
</tr>