<!-- breadcrumbs -->
<%breadcrumb :ambientes_anotaciones, @ambiente%>
<!-- datos de ambiente -->
<%= render partial: 'cabecera' %>
<div class="row">
  <div class="w-100">
    <div class="ibox">
      <div class="ibox-title d-flex justify-content-between align-items-center pr-3">
        <h1 class="card-title">Listado de Anotaciones</h1>
          <!-- convertir a excel el listado -->
          <form action="<%= ambiente_anotaciones_path %>" method="GET" class="d-flex justify-content-between align-items-center">
              <button class="btn" formaction="<%= ambiente_anotaciones_path(format: :xlsx) %>"  type="submit" id="button-addon2" >
                  <i><img src="/assets/msexcel_svg.svg" alt="icono generar excel"></i></button>
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Buscar.." aria-label="Recipient's username"
                  aria-describedby="button-addon2" name="q" value="<%= params[:q] %>">
                  <div class="input-group-append">
                      <button class="btn btn-primary" type="submit" id="button-addon2"><i class="fa fa-search"></i></button>
                  </div>
              </div>
          </form>
      </div>
      <div class="ibox-content">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Id</th>
              <th class="text-center">Descripcion</th>
              <th class="text-center">Fecha de creacion</th>
              <th class="text-center">Creado por</th>
              <th class="text-center">Acción</th>
            </tr>
          </thead>
          <tbody>
            <%= render @anotaciones %>
          </tbody>
        </table>
        <%= paginate @anotaciones, theme: 'twitter-bootstrap-4' %>
        <hr />
        <div class="row d-flex justify-content-between">
          <div class="col-md-3">
            <%= link_to "Nueva Anotacion", new_ambiente_anotacion_path, class: "btn btn-primary btn-block"  %>
          </div>
          <div class="col-md-3">
            <%= link_to "Volver", ambientes_path, class: "btn btn-danger btn-block"  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>