<div class="container">
       <!-- breadcrumbs -->
    <div class="ibox mt-4 col-md-12 ">
        <div class="ibox-title">
            <h1>Datos Del Ambiente</h1>
        </div>
        <div class="ibox-content ">

            <div class="info">
              <h2>
          <p> <span class="font-weight-bold">Nombre:</span>
               <%=  @ambiente.nombre %></p>
              </h2>
              <h2>
              <p></p>  <span class="font-weight-bold">Descripción: </span>
                <%=  @ambiente.descripcion %></p>
              </h2>
            </div>
            <%= simple_form_for [@ambiente, @anotacion] do |f| %>
             <%= f.input :descripcion %>
             <%= f.button :submit, class: "btn btn-success" %>
            <% end %>
        </div>
    </div>
</div>
