<!-- breadcrumbs -->
<% breadcrumb :user_anotaciones, @user %>
  <div class="row">
    <div class="w-100">
      <!-- infor usuario -->
      <div class="row">
        <%= render partial: 'cabecera' %>
      </div>
      <!-- listado de las anotaciones del aprendiz -->
      <div class="ibox mt-3">
        <div class="ibox-title d-flex justify-content-between align-items-center pr-3">
          <h1>Listado anotaciones</h1>
          <form action="<%= user_anotaciones_path %>" method="GET" class="d-flex justify-content-between align-items-center">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Buscar.." aria-label="Recipient's username" aria-describedby="button-addon2" name="q" value="<%= @q %>">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit" id="button-addon2"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </form>
        </div>
        <!-- detalle tabla anotaciones -->
        <div class="ibox-content">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th class="text-center">Descripcion</th>
                <th class="text-center">Fecha de creacion</th>
                <th class="text-center">Creado por</th>
                <th class="text-center">Acción</th>
              </tr>
            </thead>
            <tbody>
              <%= render @anotaciones %>
            </tbody>
          </table>
          <%= paginate @anotaciones, theme: 'twitter-bootstrap-4' %>
            <hr />
            <!-- Botones volver y nueva anotacion -->
            <div class="row d-flex justify-content-between">
              <div class="col-md-3">
                <%= link_to "Nueva Anotacion", new_user_anotacion_path, class: "btn btn-primary btn-block"  %>
              </div>
              <div class="col-md-3">
                <%= link_to "Volver", users_path, class: "btn btn-danger btn-block"  %>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>