<!-- breadcrumbs -->
<% breadcrumb :user_anotacion_show, @anotacion, @user%>
<div class="row">
	<div class="col-12 p-0 w-100">
		<div class="ibox content">
			<!-- datos user -->
			<div class="row">
				<div class="col-12">
					<div class="ibox-content d-flex justify-content-between">
						<!-- datos academicos -->
						<div class="col-md-6 d-flex flex-wrap p-3">
							<!-- foto perfil -->
							<div class="col-md-4 profile-image m-0">
								<img class="m-b-md" alt="User Image" src="/assets/default-user-img-01678e88fe462e7b0c878fa8a0357fa406e9ad71a9e058023bc6025ad3a9ebca.jpg">
							</div>
							<!-- datos  -->
							<div class="col-md-2 profile-info m-0">
								<h2 class="no-margins">
									<%=  @user.nombres %>
										<%=  @user.apellidos %>
								</h2>
								<h4>
									<%=@user.ficha.programa.nombre %>
								</h4>
							</div>
						</div>
						<!-- otros datos del parendiz -->
						<div class="col-md-6 d-flex flex-wrap align-content-center">
							<table class="table">
								<tbody>
									<tr>
										<td>
											<strong>Número de documento:</strong>
											<%= @user.ndocumento %>
										</td>
										<td>
											<strong>Teléfono:</strong>
											<%= @user.telefono %>
										</td>
									</tr>
									<tr>
										<td>
											<strong>E-mail:</strong>
											<%= @user.email %>
										</td>
										<td>
											<strong>Dirección:</strong>
											<%= @user.direccion %>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!-- datos anotacion -->
			<div clas="row">
				<div class="col-12 p-0 mt-3">
					<!--title-->
					<div class="ibox-title">
					<h1 class="pl-4"><strong>Información de la anotación</strong></h1>
					</div>
					<!--Anotacion -->
					<div class="ibox-content">
						<div class="info col-12">
							<div class="card border-secondar">
								<div class="card-header ">
									<h4 class="card-title">Anotacion ID: <strong><%= @anotacion.id%></strong></h4>
									<h4 class="card-subtitle">Fecha de creacion: <strong><%= @anotacion.created_at%></strong></h4>
									<h4 class="card-subtitle">Creada por: </strong></h4>
								</div>
								<div class="card-body">
									<h4 class="card-subtile">Descripcion:</h4>
									<p class="card-text"><%= @anotacion.descripcion%></p>
								</div>
							</div>
						</div>
					<!--botonera-->
					<div class="row">
						<div class="col-12 mt-3 mt-3 d-flex justify-content-between">
							<div class="col-4">
								<%= link_to "Volver", user_anotaciones_path, class: "btn btn-primary btn-block" %>
							</div>
							<div class="col-4">
								<%= link_to "Editar", edit_user_anotacion_path(@user, @anotacion), class: "btn btn-primary btn-block" %>
							</div>
							<div class="col-4">
								<%#= link_to "Eliminar", user_anotacion_path(@user, @anotacion), method: :delete, data: {confirm: "¿Estas seguro?"}, class:"btn btn-danger btn-block"%>
								<button class="btn btn-danger btn-block" type="button">Cerrar</button>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>