<!-- breadcrumbs -->
<% breadcrumb :user_anotacion_show, @anotacion, @user%>
<div class="row">
  <div class="col-12 p-0 w-100">
    <div class="ibox content">
      <!-- datos user -->
      <div class="row">
        <%= render partial: 'cabecera' %>
      </div>
      <!-- datos anotacion -->
      <div clas="row">
        <div class="col-12 p-0 mt-3">
          <!--title-->
          <div class="ibox-title">
            <h1 class="pl-4"><strong>Información de la anotación</strong></h1>
          </div>
          <!--Anotacion -->
          <div class="ibox-content">
            <div class="info col-12">
              <div class="card border-secondar">
                <div class="card-header d-flex justify-content-between">
                  <div class="card-subtitle">
                    <h4>Anotacion ID: <strong><%= @anotacion.id%></strong></h4>
                    <h4>Fecha de creacion: <strong><%= @anotacion.created_at.strftime("%F %T")%></strong></h4>
                    <h4>Creada por: </strong> </h4>
                  </div>
                  <div class="card-subtitle d-flex align-items-center">
                    <%= link_to user_anotacion_path(@user, @anotacion), method: :delete, data: {confirm: "¿Estas seguro?"} do%>
                      <img src="/assets/icoeliminar.png" alt="icono eliminar">
                    <% end %>
                  </div>
                </div>
                <div class="card-body">
                  <h4 class="card-subtile">Descripcion:</h4>
                  <p class="card-text">
                    <%= @anotacion.descripcion%>
                  </p>
                </div>
              </div>
            </div>
            <!--botonera-->
            <div class="row">
              <div class="col-12 mt-3 mt-3 d-flex justify-content-between">
                <div class="col-4">
                  <%= link_to "Editar", edit_user_anotacion_path(@user, @anotacion), class: "btn btn-primary btn-block" %>
                </div>
                <div class="col-4">
                  <%= link_to "Volver", user_anotaciones_path, class: "btn btn-danger btn-block"%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>