<tr>
  <td>
    <%= link_to comentario.id, anotacion_comentario_path(@anotacion, comentario) %>
  </td>
  <td>
    <span class="text-overflow-dynamic-container">
      <span class="text-overflow-dynamic-ellipsis">
        <%= comentario.comentario %>
      </span>
    </span>
  </td>
  <td class="text-center">
    <%= comentario.created_at.strftime("%F %T") %>
  </td>
  <td class="text-center">
    <%= comentario.creator.nombres %>
      <%= comentario.creator.apellidos %>
  </td>
  <td class="text-center">
    <%= comentario.updated_at.strftime("%F %T") %>
  </td>
  <td>
    <%= link_to "Contestar", new_anotacion_comentario_path, class: "btn btn-primary btn-block"  %>
  </td>
</tr>