<!-- breadcrumbs -->
<% breadcrumb :anotacion_comentarios, @anotacion%>
<%= render partial: 'cabecera' %>
<div class="row mt-3">
  <div class="w-100">
    <div class="ibox ">
      <div class="ibox-title d-flex justify-content-between align-items-center pr-3">
        <h1>Listado comentarios</h1>
          <div class="d-flex mb-3 justify-content-between">
              <!-- convertir a excel el listado -->
              <form action="<%= anotacion_comentarios_path %>" method="GET" class="d-flex justify-content-between align-items-center">
                <button class="btn" formaction="<%= anotacion_comentarios_path(format: :xlsx) %>"  type="submit" id="button-addon2" >
                    <i><img src="/assets/msexcel_svg.svg" alt="icono generar excel"></i></button>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar.." aria-label="Recipient's username"
                    aria-describedby="button-addon2" name="q" value="<%= params[:q] %>">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit" id="button-addon2"><i class="fa fa-search"></i></button>
                    </div>
                </div>
              </form>
          </div>
        </div>
        <div class="ibox-content">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th class="text-center">Descripcion</th>
                <th class="text-center">Fecha de creacion</th>
                <th class="text-center">Creado por</th>
                <th class="text-center">Fecha de actualizacion</th>
                <th class="text-center">Accion</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "comentario", collection: @comentarios %>
            </tbody>
          </table>
          <%= paginate @comentarios, theme: 'twitter-bootstrap-4' %>
          <hr>
          <div class="row d-flex justify-content-between px-3">
            <div class="col-3 pl-0">
              <%= link_to "Nuevo Comentario", new_anotacion_comentario_path, class: "btn btn-primary btn-block"  %>
            </div>
            <div class="col-3 pr-0">
              <% if current_user.has_role? :instructor %>
                <% if  @anotacion.anotable_type == "Ambiente" %>
                  <%= link_to "Volver", ambiente_anotaciones_path(ambiente_id: @anotacion.anotable_id), class: "btn btn-danger btn-block" %>
                <% else %>
                  <%= link_to "Volver", user_anotaciones_path(user_id: @anotacion.anotable_id), class: "btn btn-danger btn-block" %>
                <% end %>
              <% elsif current_user.has_role? :aprendiz %>
                <%= link_to "Volver", user_anotaciones_path(user_id: current_user.id), class: "btn btn-danger btn-block" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>