<!-- breadcrumbs -->
<% breadcrumb :anotacion_comentario_show, @anotacion, @comentario %>
<!-- infor anotacion -->
<%= render partial: 'cabecera' %>
<div class="row">
  <div class="w-100">
      <!-- listado de los comentarios de la anotacion -->
      <div class="row">
        <div class="col-12 mt-3">
          <!--title-->
          <div class="ibox-title">
            <h1 class="pl-4"><strong>Información del comentario </strong></h1>
          </div>
          <!--Anotacion -->
          <div class="ibox-content">
            <div class="info col-12">
              <div class="card border-secondar">
                <div class="card-header d-flex justify-content-between">
                  <div class="card-subtitle">
                    <h4 class="card-subtitle">
                      Comentario ID: <strong><%= @comentario.id %></strong>
                    </h4>
                    <h4 class="card-subtitle">
                      Fecha de creacion: <strong><%= @comentario.created_at.strftime("%F %T")%></strong>
                    </h4>
                    <h4 class="card-subtitle">
                      Creada por:
                      <strong>
                        <%= @comentario.creator.nombres%>
                        <%= @comentario.creator.apellidos%>
                      </strong>
                    </h4>
                  </div>
                  <div class="card-subtitle d-flex align-items-center">
                    <%= link_to anotacion_comentario_path(@anotacion, @comentario), method: :delete, data: {confirm: "¿Estas seguro?"} do %>
                      <img src="/assets/icoeliminar.png" alt="icono eliminar">
                    <% end %>
                  </div>
                </div>
                <div class="card-body">
                  <h4 class="card-subtile">Descripcion:</h4>
                  <p class="card-text">
                    <%= @comentario.comentario%>
                  </p>
                </div>
              </div>
            </div>
            <!--botonera-->
            <div class="row">
              <div class="col-12 mt-3 mt-3 d-flex justify-content-between">
                <div class="col-4">
                  <%= link_to "Editar", edit_anotacion_comentario_path(@anotacion, @comentario), class: "btn btn-primary btn-block" %>
                </div>
                <div class="col-4">
                  <%= link_to "Volver", anotacion_comentarios_path(@anotacion), class: "btn btn-danger btn-block"  %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>