<div class="container">
 <div class="ibox mt-8 col-md-8 mx-auto">
  <!-- breadcrumbs -->
  <% breadcrumb :admin_ambiente_new %>
  <h1 class=" ibox-title font-weight-bold text-center pr-3">Registrar Nuevo Ambiente</h1>
  <div class="ibox-content p-3 ">
   <div class="col-12">
    <%= simple_form_for [:admin, @ambiente] do |f| %>
    <%= f.input :nombre, class: "form-control" %>
    <%= f.input :descripcion, class: "form-control" %>
   </div>
   <div class="row">
    <div class="col-6">
     <%= f.button :submit, class: "btn btn-primary btn-md btn-block" %>
     <% end %>
    </div>
    <div class="col-6">
     <%= link_to "Volver", :back, class: "btn btn-danger btn-md btn-block" %>
    </div>
   </div>
  </div>
 </div>
</div>