<div class="container">
    <!-- breadcrumbs -->
    <% breadcrumb :admin_ambiente_show, @ambiente %>
    <div class="ibox mt-4 col-md-12 ">
        <div class="ibox-title">
            <h1>Ambientes</h1>
        </div>
        <div class="ibox-content ">
            <h2 class="no-margins ">
                <span class="font-weight-bold">Nombre: </span>
                <%= @ambiente.nombre %>
            </h2>
            <h2 class="no-margins ">
                <span class="font-weight-bold">Descripcion: </span>
                <%= @ambiente.descripcion %>
            </h2>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <%= link_to "Editar ", edit_admin_ambiente_path(@ambiente), class:"btn btn-primary btn-lg btn-block"%>
                </div>
                <div class="col-md-4">
                    <%= link_to "Eliminar", admin_ambiente_path(@ambiente), method: :delete, data: {confirm: "¿Estas seguro?"}, class:"btn btn-danger btn-lg btn-block"%>
                </div>
                <div class="col-md-4">
                    <%= link_to "Volver", admin_ambientes_path, class: "btn btn-info btn-lg btn-block" %>
                </div>
            </div>
        </div>
    </div>
</div>