<h1 class="text-center mov-naranja">Seguimiento <strong>2020</strong></h1>
<div class="container_session">
    <div class="session">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <p>Debe iniciar sesión o registrarse antes de continuar.
                <p>
            <%= f.input :email, placeholder:"Correo Electronico",  autofocus: true, autocomplete: "Correo Electronico" %>
            <%= f.input :password, placeholder:"Contraseña",  autocomplete: "current-password" %>
            <!-- <% if devise_mapping.rememberable? %>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "Recuérdame" %>
        <% end %> -->
        <div class="row">
            <div class=" col-md-6">
               <%= f.button :submit, "Iniciar Sesion",  class: "btn-primary block full-width m-b" %>
               <% end %>
            </div>
            <div class=" col-md-6">
            <a class="btn btn-sm btn-info btn-block" href="<%=new_user_registration_path%>">Crear cuenta</a>
            </div>
            <div class=" col-md-12">
            <a class="btn btn-sm btn-link btn-block" href="<%=new_user_password_path%>">Recuperar contraseña</a>
            </div>
        </div>
    </div>
</div>
