<tr>
    <td>
        <%= ficha.id %>
    </td>
    <td>
        <%= ficha.numero %>
    </td>
    <td>
        <%= ficha.naprendices %>
    </td>
    <td>
        <%= ficha.especialidad.nombre %>
    </td>
    <td>
        <%= ficha.fechafin %>
    </td>
</tr>