<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="">Fichas Actuales</h1>
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>N°Aprendices</th>
                        <th>Especialidad</th>
                        <th>Fecha Finalizaciön</th>
                    </tr>
                </thead>
                <tbody>
                    <% @fichas.each do |ficha| %>
                        <tr>
                            <td>
                                <%= ficha.id %>
                            </td>
                            <td>
                                <%= link_to ficha.numero, ficha_path(ficha) %>
                            </td>
                            <td>
                                <%= ficha.naprendices %>
                            </td>
                            <td>
                                <%= ficha.especialidad.nombre %>
                            </td>
                            <td>
                                <%= ficha.fechafin %>
                            </td>
                        </tr>
                        <% end %>
                </tbody>
            </table>

        </div>

    </div>

</div>

</div>
