<div class="container">
    <div class="ibox mt-4 col-md-6 mx-auto">
        <div class="ibox-title">
            <div class="ibox-tools">
                <span class="label-primary float-right"><%= @ficha.numero %></span>
            </div>
            <h1>Ficha Numero</h1>
        </div>
        <div class="ibox-content ">
            <h2 class="no-margins ">
                <span class="font-weight-bold">Numero aprendices: </span>
                <%= @ficha.naprendices %>
            </h2>
            <h2 class="no-margins ">
                <span class="font-weight-bold">Fecha finalizacion: </span>
                <%= @ficha.fechafin %>
            </h2>
            <h2 class="no-margins ">
                <span class="font-weight-bold">Especialidad: </span>
                <%= @ficha.especialidad.nombre %>
            </h2>
            <br>
            <%= link_to "Editar ", edit_ficha_path(@ficha), class:"btn btn-primary btn-lg btn-block"%>
        </div>
    </div>
</div>