<tr>
 <td>
  <%= user.ndocumento %>
 </td>
 <td>
  <%= user.nombres%>
 </td>
 <td>
  <%= user.apellidos%>
 </td>
 <td>
  <%= user.created_at%>
 </td>
 <td class="text-center">
  <%= user.roles.map{|s| s[:name]}.first%>
 </td>
 <td class="text-center">
  <h5><%= link_to "Actualizar datos", edit_admin_user_path(user), class: "btn btn-primary"%></h5>
 </td>
</tr>