<tr class="align-middle">
    <td>
        <%= link_to anotacion.id, anotacion_path(anotacion)%>
    </td>
    <td>
        <% if anotacion.anotable_type == "User"   %>
        <%= anotacion.anotable.ndocumento%>
        <% else %>
        <%= anotacion.anotable.id%>
        <% end %>
    </td>
    <td>
        <% if anotacion.anotable_type == "User"   %>
        <%= anotacion.anotable.nombres%>
        <%= anotacion.anotable.apellidos%>
        <% else %>
        <%= anotacion.anotable.nombre%>
        <% end %>
    </td>
    <td>
        <%= anotacion.descripcion %>
    </td>
    <td>
        <%= l anotacion.created_at, format: :long%>
    </td>
</tr>