<!-- breadcrumbs -->
<% breadcrumb :admin_tipo_documentos %>
<div class="row">
  <div class="w-100">
    <div class="ibox">
      <div class="ibox-title d-flex justify-content-between align-items-center pr-3 pb-3">
        <h5>Listado Tipo de documentos</h5>
        <div class="d-flex justify-content-between align-items-center">
          <form action="<%= admin_tipo_documentos_path %>" method="GET" class="d-flex justify-content-between align-items-center">
            <button class="btn" formaction="<%= admin_tipo_documentos_path(format: :xlsx) %>"  type="submit" id="button-addon2" >
              <i><img src="/assets/msexcel_svg.svg" alt="icono generar excel"></i></button>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Buscar.." aria-label="Recipient's username"
              aria-describedby="button-addon2" name="q" value="<%= params[:q] %>">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit" id="button-addon2"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="ibox-content">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Codigo</th>
              <th>Nombre</th>
              <th>Fecha creacion</th>
              <th class="text-center">Accion</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: 'tipodocumento', collection: @tipodocumentos %>
          </tbody>
        </table>
        <hr>
        <%= paginate @tipodocumentos, theme: 'twitter-bootstrap-4' %>
        <div class="d-flex justify-content-between">
          <%= link_to "Nuevo Tipo de docuemento", new_admin_tipo_documento_path, class: "btn btn-primary btn-block col-4" %>
          <%= link_to "Volver", :root, class: "btn btn-danger btn-lg btn-block m-0 col-4" %>
        </div>
      </div>
    </div>
  </div>
</div>