<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <% if user_signed_in? %>
                        <% if current_user.avatar.thumb.present?%>
                            <div class="d-flex justify-content-center imagen">
                                <%= image_tag current_user.avatar.thumb.url,  class: " circle-border m-b-md w-50", alt: "User Image"%>
                            </div>
                            <%else%>
                                <div class="d-flex justify-content-center">
                                    <%=image_tag 'default-user-img.jpg', class: "rounded-circle w-50 circle-border m-b-md", alt: "User Image"%>
                                </div>
                                <%end%>
                                    <%end%>
                                        <span class="block m-t-xs font-bold"></span>
                                        <span class="text-muted text-xs block"><%= current_user.nombres %> <%= current_user.apellidos %>
                                        <span class="block m-t-xs font-bold"></span>
                                        <span class="text-muted text-xs block"><%= current_user.email %>
                </div>
                <div class="logo-element">
                    <%=link_to "SG20", root_path %>
                </div>
            </li>
            <li class="<%= 'active' if current_page?('/') %>">
                <%= link_to "/" do %>
                <i class="fa fa-laptop"></i> <span class="nav-label">Inicio</span>
                                        <% end %>
                                            <!-- opciones admin -->
                                            <li class="<%= is_active_controller('anotaciones') %>">
                                                <a href="#"><i class="fa fa-clipboard"></i> <span class="nav-label" data-i18n="nav.graphs">Anotacion</span><span class="fa arrow"></span></a>
                                                <ul class="nav nav-second-level collapse <%= is_active_controller('anotaciones', 'in') %>">
                                                    <li class="<%= is_active_action('index') %>">
                                                        <%= link_to "Listar", anotaciones_path %>
                                                    </li>
                                                    <li class="<%= is_active_action('new') %>">
                                                        <%= link_to "Crear", new_anotacion_path %>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li class="<%= is_active_controller('especialidades') %> <%= is_active_controller('fichas') %> <%= is_active_controller('users') %>">
                                                <a href="#"><i class="fa fa-shield"></i> <span class="nav-label" data-i18n="nav.menulevels">Administracion </span><span class="fa arrow"></span></a>
                                                <ul class="nav nav-second-level">
                                                    <% if policy(Especialidad).index? %>
                                                        <li class="<%= is_active_controller('especialidades') %>">
                                                            <a href="#"><i class="fa fa-graduation-cap"></i> <span class="nav-label" data-i18n="nav.graphs">Especialidades</span><span class="fa arrow"></span></a>
                                                            <ul class="nav nav-second-level collapse <%= is_active_controller('especialidades', 'in') %>">
                                                                <li class="<%= is_active_action('index') %>">
                                                                    <%= link_to "Listar", especialidades_path %>
                                                                </li>
                                                                <li class="<%= is_active_action('new') %>">
                                                                    <%= link_to "Crear", new_especialidad_path%>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <% end %>
                                                            <% if policy(Ficha).index? %>
                                                                <li class="<%= is_active_controller('fichas') %>">
                                                                    <a href="#"><i class="fa fa-list-ol"></i> <span class="nav-label" data-i18n="nav.graphs">Fichas</span><span class="fa arrow"></span></a>
                                                                    <ul class="nav nav-second-level collapse <%= is_active_controller('fichas', 'in') %>">
                                                                        <li class="<%= is_active_action('index') %>">
                                                                            <%= link_to "Listar", fichas_path %>
                                                                        </li>
                                                                        <li class="<%= is_active_action('new') %>">
                                                                            <%= link_to "Crear", new_ficha_path %>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <% end %>
                                                                    <% if policy(User).index? %>
                                                                        <li class="<%= is_active_controller('users') %>">
                                                                            <a href="#"><i class="fa fa-users"></i> <span class="nav-label" data-i18n="nav.graphs">Usuarios</span><span class="fa arrow"></span></a>
                                                                            <ul class="nav nav-second-level collapse <%= is_active_controller('graphs', 'in') %>">
                                                                                <li class="<%= is_active_action('index') %>">
                                                                                    <%= link_to "Listar", users_path %>
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                        <% end %>
                                                </ul>
                                            </li>
                                            <li class="<%= is_active_controller('graphs') %>">
                                                <a href="#"><i class="fa fa-pencil"></i> <span class="nav-label" data-i18n="nav.graphs">Opciones</span><span class="fa arrow"></span></a>
                                                <ul class="nav nav-second-level collapse <%= is_active_controller('graphs', 'in') %>">
                                                    <li><a class="dropdown-item" href=" <%= edit_user_path %>" class="btn btn-nar"><i class="fa fa-user"></i>Mi Perfil</a></li>
                                                    <li><a class="dropdown-item" href="<%= change_password_user_path %>"><i class="fa fa-lock"></i>Cambiar Contraseña</a></li>
                                                    <li class="<%= is_active_action('flot') %>">
                                                        <%= link_to " Cerrar Sesion ", destroy_user_session_path, method: :delete%>
                                                    </li>
                                                </ul>
                                            </li>
            </li>
        </ul>
        </div>
</nav>
